.cartItem {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
}

.cartItemImg {
  width: 70px;
}

.cartItemTitle {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
}

.cartItemPrice {
  font-size: 22px;
  font-weight: 500;
}

.cartItemContent {
  padding: 0 35px 0 10px;
}

.buttonRemoveItem {
  top: 0;
  right: 0;
  border: none;
  cursor: pointer;
  color: #d83232;
  background: none;
  font-size: 1.2rem;
  position: absolute;
}